$cores-degrade: rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.6);
$direcao: to bottom;

@function gradiente($cores, $direcao) {
  @return linear-gradient($direcao, $cores);
}

.main {
  .imgLogo {
    position: absolute;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    cursor: pointer;
  }
}

.mainLogin {
  background-color: white !important;
}
